#over-10-years {
  text-align: center;
  margin: 50px;
  font-size: 80px;
}

#about-us-image {
  padding: 30px;
  width: 45%;
}

#about-us-description {
  font-size: 25px;
}

#brown-container {
  background-color: rgb(255, 205, 58);
  padding: 60px 200px;
  margin: 0;
}

#cheesy-tagline-1 {
  text-align: center;
  font-size: 70px;
  margin: 20px;
}

#cheesy-tagline-2 {
  text-align: center;
  font-size: 60px;
  margin: 20px;
  font-weight: 100;
}

#hero-description {
  text-align: center;
  font-size: 25px;
  padding: 30px;
}

#hero-image {
  object-fit: cover;
  width: 400px;
  height: auto;
}

#grey-container {
  background-color: #383633;
  padding: 2% 2% 0 2%;
}

#owner-quote,
#owner-name {
  display: block;
  text-align: center;
  color: aliceblue;
}

#owner-quote {
  font-size: 40px;
  margin: 0;
}

#owner-name {
  font-size: 30px;
  margin: 0;
  padding: 40px 40px 40px 40px;
}

@media screen and (max-width: 1400px) {
  #about-us-image {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 800px) {
  #over-10-years {
    text-align: center;
    margin: 50px;
    font-size: 50px;
  }

  #brown-container {
    padding: 60px 100px;
    margin: 0;
  }

  #hero-image {
    width: 400px;
    height: auto;
    align-self: center;
  }
}
