.review-header {
  margin: 0;
  padding: 50px 50px;
}

#reviews-caption-1,
#reviews-caption-2 {
  font-size: 50px;
  text-align: center;
}

.color-container-review {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 50px;
  background-color: rgb(255, 205, 58);
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  padding: 40px;
  font-size: 25px;
  text-align: center;
}

.color-container-review img {
  height: auto;
  width: 300px;
  padding-bottom: 15px;
}

.customer-review-name {
  padding: 10px;
}
